<h1>Acebook</h1>
<h2>Log In</h2>
<%= form_for :session, url: login_path do |form| %>
  <%= form.label :email %>
  <%= form.text_field :email %>
</br>
</br>
  <%= form.label :password %>
  <%= form.text_field :password %>
</br>
</br>
  <%= form.submit "Login" %>
<% end %>
</br>
<p id=”notice”><%= notice %></p>
</br>
<p>Account not created?</p>
<%= link_to new_user_path do %>
  Sign Up
<% end %>
