<h1>Acebook</h1>
<h2>Log In</h2>
<%= form_tag sessions_path do |form| %>
  <div class=”field”>
    <%= label_tag :email %>
    <%= text_field_tag :email %>
  </div>
  </br>
  <div class=”field”>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  </br>
  <div class=”actions”>
    <%= submit_tag "Login" %>
  </div>
<% end %>
</br>
<p id=”notice”><%= notice %></p>
</br>
<p>Account not created?</p>
<%= link_to new_user_path do %>
  Sign Up
<% end %>
