<br><center><h1>Acebook</h1>
  <h3><%= link_to "Sign-In", posts_path%></h3><br>
</center>

<%= form_for(@user) do |form| %><div style="background-color: rgba(255, 255, 255, 0.4); padding: 10px; margin: 20px; width: 450px;">
<h3>Sign-Up</h3>
 <%= form.label :name %>
 <%= form.text_field :name, :required => true %>
<br>
<br>
 <%= form.label :email %>
 <%= form.text_field :email, :required => true, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}' %>
<br>
<br>
 <%= form.label :password %>
 <%= form.password_field :password, :required => true %>
<br>
<br>
 <%= form.submit "Submit" %></div>
<% end %>
