<header>
  <nav><div class="navbar"><h1 align = "right"></h1>
    <h3 align = "right">
      <p>Already created an account?</p>
<%= link_to login_url do %>
  Login
<% end %></h3>
    </div></nav>
  </header>

<center><h1><s>f</s>Acebook</h1>
</center>

<%= form_for(@user) do |form| %><div style="background-color: rgba(255, 255, 255, 0.4); border-radius: 10px; padding: 10px; margin: 20px; width: 450px;">
<h3>&nbsp;&nbsp;&nbsp;&nbsp;
  Create an Account &nbsp;</h3><br> <%= form.text_field :name, class: 'textbox-style', :required => true, :placeholder => 'Type your name' %>
<br><br> <%= form.text_field :email, class: 'textbox-style', :required => true, :placeholder => 'Type your email', :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}' %>
<br><br> <%= form.password_field :password, class: 'textbox-style', :required => true, :placeholder => 'Type your password' %>
<br><br> <%= form.submit "Submit", class: 'button' %><br>&nbsp;</div>
<% end %>
