<h1>Acebook</h1>
<h2>Create an account</h2>

<%= form_for(@user) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
</br>
</br>
  <%= form.label :email %>
  <%= form.text_field :email %>
</br>
</br>
  <%= form.label :password %>
  <%= form.text_field :password %>
</br>
</br>
  <%= form.submit "Sign Up" %>
<% end %>
</br>
</br>
</br>
<p>Already created an account?</p>
<%= link_to login_url do %>
  Login
<% end %>
