<header>
  <nav><div class="navbar">
    <h3 align = "right"><%= link_to "Timeline", posts_path%><mark>/</mark>
      <%= link_to new_post_path do %>
      New post
    <% end %><mark>/</mark><%= link_to "Sign-Out", root_path%></h3>
    </div></nav>
  </header>

<br><br>
<%= form_for @post do |f| %>
  <h4><%= f.text_field :message, class: 'messagebox-style' %>
<br><br>
  <%= f.submit "Save changes", class: 'button',
  data: { confirm: "Confirm changes" } %></h4>
<% end %>
