<header>
  <nav><div class="navbar"><h1 align = "right"><s>f</s>Acebook</h1>
    <h3 align = "right"><%= link_to "Timeline", posts_path%>&nbsp;/
      <%= link_to new_post_path do %>
      New post
    <% end %>/&nbsp;<%= link_to logout_path do %>
      Logout
    <% end %></h3>
    </div></nav>
  </header>

<br><br>
<% @posts.reverse.each do |post| %><div style="background-color: rgba(255, 255, 255, 0.4); border-radius: 10px; padding: 10px; margin: 20px; width: 450px; box-shadow: 10px 12px;">
  <h2 style= "padding: 5px;"><div class = "message"><%= post.message %></div></h2>
  <h4 align = "right" style= "padding: 5px;">Created @ <%= time_ago_in_words post.created_at%> ago
  <% if post.created_at != post.updated_at %><mark>/</mark>
    Updated @ <%= time_ago_in_words  post.updated_at %> ago
    <% end %>
  <p><%= link_to "delete", post, method: :delete,
    data: { confirm: "You sure?" } %>&nbsp;&nbsp;
    <%= link_to "edit", edit_post_path(post) %></h4></div><br>
<% end %>
<br/>
<br/>
